/* both .banner and .banner img is coming form https://stackoverflow.com/a/493329 */

/* This is the div that will work as mask and allow the showing area */
.crop {
    width: 100%;
    height: 300px;
    overflow: hidden;
    background: url(https://www.taiwan.net.tw/att/1/big_scenic_spots/pic_614.jpg) no-repeat center center fixed;
    background-size: cover;
}
/* This will apply to the image inside a div tag for cropping */
.crop img {
    min-width: 100%;
    margin-top: -100px;
}