/* I found this polaroid effect from https://codepen.io/Wandersonsc/pen/RMerRy */
/* the author is Wanderson */
/* 
how to use:
<div class="warp">
    <div class="item">
        <div class="polaroid">
            <img src="https://content.active.com/Assets/Active.com+Content+Site+Digital+Assets/Article+Image+Update/Volleyball/Volleyball+Setting+Drills/carousel.jpg">
        </div>
    </div>
    <div class="item">
        <div class="polaroid">
            <img src="https://www.ncaa.com/_flysystem/public-s3/thumbnails/2020-07/byu-womens-volleyball-final-edit.jpg">
        </div>
    </div>
</div> 
*/

/* 
another example is from w3school- https://w3schools.com/css/css3_images.asp
div.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rbga(0, 0, 0, 0.2), 0 6px 20px 0 rbga(0, 0, 0, 0.19);
}

div.container {
    text-align: center;
    padding: 10px 20px;
}

how to use:
<div class="polaroid">
    <img>
    <div class="container">
        <p>
    </div>
</div> 
*/

* {
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    padding: 0 2rem;
    text-align: center;
}
.polaroid {
    background: #fff;
    padding: 1rem;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
}
.polaroid > img{
    max-width: 100%;
    height: auto;
}
.caption {
    font-size: 1.8rem;
    text-align: center;
    line-height: 2em;
}
.item {
    width: 40%;
    display: inline-block;
    margin: 2.4rem 2rem;
    filter: grayscale(100%);
}
.item .polaroid:before {
    content: '';
    position: absolute;
    z-index: -1;
    transition: all 0.35s;
}
.item:nth-of-type(4n+1) {
    float: right;
    transform: scale(0.8, 0.8) rotate(5deg);
    transition: all 0.35s;
}
.item:nth-of-type(4n+1) .polaroid:before {
    transform: rotate(6deg);
    height: 20%;
    width: 57%;
    bottom: 30px;
    right: 12px;
    box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+2) {
    float: left;
    transform: scale(0.8, 0.8) rotate(-5deg);
    transition: all 0.35s;
}
.item:nth-of-type(4n+2) .polaroid:before {
    transform: rotate(-6deg);
    height: 20%;
    width: 57%;
    bottom: 30px;
    left: 12px;
    box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+4) {
    transform: scale(0.8, 0.8) rotate(3deg);
    transition: all 0.35s;
}
.item:nth-of-type(4n+4) .polaroid:before {
    transform: rotate(4deg);
    height: 20%;
    width: 57%;
    bottom: 30px;
    right: 12px;
    box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:nth-of-type(4n+3) {
    transform: scale(0.8, 0.8) rotate(-3deg);
    transition: all 0.35s;
}
.item:nth-of-type(4n+3) .polaroid:before {
    transform: rotate(-4deg);
    height: 20%;
    width: 57%;
    bottom: 30px;
    left: 12px;
    box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:hover {
    filter: none;
    transform: scale(1, 1) rotate(0deg) !important;
    transition: all 0.35s;
}
.item:hover .polaroid:before {
    content: '';
    position: absolute;
    z-index: -1;
    transform: rotate(0deg);
    height: 90%;
    width: 90%;
    bottom: 0%;
    right: 5%;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
    transition: all 0.35s;
}